{% extends "base.html" %}
{% block content %}
<h1>Welcome to Our Store</h1>
<p>Discover our amazing products!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque consequat ante eget orci gravida, sit amet elementum neque sollicitudin. Vestibulum at interdum nisl. Nullam sed efficitur elit. Morbi consequat mauris id est tincidunt, at vestibulum massa tincidunt.</p>
<h1>Our Products</h1>
<p>Fusce blandit, urna at scelerisque feugiat, nisl nisl aliquet ligula, vel facilisis purus purus vel neque. Quisque non elit vel lacus porta aliquam. Cras feugiat ipsum at eros condimentum, quis euismod leo blandit. Sed gravida sapien in dolor dapibus, id hendrerit justo laoreet.

    Item One: Integer fermentum arcu sit amet purus congue, vel pretium metus tempus.
    Item Two: Proin scelerisque lacus eget nibh tempor imperdiet.
    Item Three: Aliquam erat volutpat. Sed consequat ligula eu arcu dignissim, quis bibendum erat faucibus.</p>

<h2>Why Choose Us?</h2>
<p>Morbi ultrices est nec massa facilisis, eu efficitur nunc facilisis. Suspendisse potenti. Nulla facilisi. In tincidunt erat sit amet neque porta, vel tristique velit vehicula. Duis auctor orci sit amet nisl hendrerit, ut varius libero egestas.</p>
<h1>Contact Us</h1>
<p>For more information, you can reach us at:<br>
    Email: info@yourstore.com<br>
    Phone: (123) 456-7890</p>

    <footer class="footer text-center">
        <div class="container">
            <p class="text-light">&copy; 2024 Your Store. All rights reserved.</p>
            <ul class="list-unstyled">
                <li><a href="/terms" class="text-light">Terms of Service</a></li>
            </ul>
            <div class="social-icons">
                <a href="#" class="text-light mx-2"><i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="#" class="text-light mx-2"><i class="fab fa-twitter"></i> Twitter</a>
                <a href="#" class="text-light mx-2"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
        </div>
    </footer>
{% endblock %}
